* {
  font-family: helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin-inline: auto;
  margin-top: 200px;
  width: 500px;
  height:fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #000000bf;
  -webkit-box-shadow: 0px 0px 5px 0px #000000bf;
  -moz-box-shadow: 0px 0px 5px 0px #000000bf;
  padding: 1rem;
}
.container > div {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.container h1 {
  text-align: center;
  padding-block: 1rem;
}
.container label{
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: .3rem;
}
.container input, select{
  font-size: 1rem;
  color: gray;
  padding: .7rem;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  outline-color: #4BAF51;
}
.container button{
  background-color: #4BAF51;
  margin-top: .5rem;
  border: none;
  border-radius: 10px;
  padding-block: 1rem;
  color: white;
  font-size: large;
  cursor: pointer;
}
input:disabled {
  background-color: #f7f6f6;
  cursor: not-allowed;
}
